@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-15px); }
  60% {
    -webkit-transform: translateY(-5px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-15px); }
  60% {
    -moz-transform: translateY(-5px); } }
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-15px); }
  60% {
    -o-transform: translateY(-5px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-15px); }
  60% {
    transform: translateY(-5px); } }
.card {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%; }
  .card.padding0 {
    padding: 0px; }
    .card.padding0 .card-block {
      padding: 0px; }
    .card.padding0 .col {
      padding: 0px; }
  .card .card-header {
    background-color: #E2231A;
    color: #ffffff;
    font-size: 30px;
    line-height: 60px;
    padding: 10px 30px; }
  .card .card-block {
    background-color: rgba(255, 255, 255, 0.5); }
  .card .table thead {
    background-color: #E2231A;
    color: #ffffff; }
    .card .table thead th {
      text-align: center; }
  .card .table tbody td {
    text-align: center; }

.btn-default {
  transition: color 0.5s ease, background-color 0.5s ease;
  background-color: #ffffff;
  color: #231F20 !important;
  font-family: arial;
  font-size: 28px;
  cursor: pointer;
  font-weight: 600; }
  .btn-default:hover {
    background-color: #E2231A;
    color: #ffffff !important; }

.btn-primary {
  transition: color 0.5s ease, background-color 0.5s ease; }
  .btn-primary:hover {
    background-color: #B21C1B;
    border-color: #B21C1B; }

header {
  padding: 20px 0;
  text-align: center; }
  header .container {
    padding: 0px; }

nav {
  background: #E2231A;
  text-align: center;
  margin: 0 auto; }
  nav .menu {
    padding-left: 0px;
    margin-bottom: 0px; }
    nav .menu > li {
      list-style: none;
      display: inline-block;
      padding: 0px 10px; }
      nav .menu > li > a {
        color: #ffffff;
        text-decoration: none;
        display: block;
        padding: 20px 0 16px 0;
        text-transform: uppercase;
        font-weight: 600; }
      nav .menu > li > a:hover {
        border-bottom: 4px solid #ffffff; }
    nav .menu > li.current-menu-item a {
      border-bottom: 4px solid #ffffff; }
  nav .phoneNumber {
    padding-left: 0px;
    border-left: 0px;
    float: none;
    display: block;
    margin-top: 0px;
    color: #fff;
    line-height: 30px;
    font-weight: 600; }
  nav .container {
    padding: 0px; }

@media (min-width: 1200px) {
  nav .phoneNumber {
    float: right;
    margin-top: -43px;
    border-left: 1px solid #fff;
    padding-left: 40px; } }
footer span {
  position: relative;
  clear: both;
  display: block; }
footer .col-md-8 *:first-child {
  margin-top: 0px; }
footer .col-md-8 * {
  font-size: 18px;
  margin-top: 40px; }
footer .col-md-8 span.lead {
  font-size: 30px;
  font-style: italic; }
footer .col-md-4 {
  text-align: right; }
  footer .col-md-4 .phone {
    font-style: italic;
    color: #E2231A;
    font-size: 24px; }
  footer .col-md-4 *:first-child {
    margin-top: 0px; }
  footer .col-md-4 * {
    font-size: 17px;
    margin-top: 20px;
    line-height: 25px; }

@media (max-width: 1100px) {
  .container .row {
    margin-left: 0px;
    margin-right: 0px; } }
@media (max-width: 768px) {
  .container.paddingtop250 {
    padding-top: 100px; }
  .container.paddingbottom250 {
    padding-bottom: 100px; }
  .container .row.equalWidthButtons .col {
    margin: 10px 0; }
    .container .row.equalWidthButtons .col p {
      text-align: center !important; }

  .largeWhiteBtn {
    font-size: 30px; }

  footer .col-md-8 {
    text-align: center; }
  footer .col-md-4 {
    margin-top: 40px;
    text-align: center; } }
@media (max-width: 1000px) {
  .col div.mapContent {
    width: inherit;
    margin: 0px; } }
@media (max-width: 576px) {
  .container {
    width: 100%; }
    .container .mainHeadline .col:last-child {
      padding-left: 15px; }
    .container .mainHeadline .col:first-child {
      padding-right: 15px; }
    .container .row .col {
      margin-top: 20px; }
      .container .row .col:first-child {
        margin-top: 0px; }

  .redWhiteBg {
    background: #E2231A; }
    .redWhiteBg .row div * {
      color: #ffffff; }

  .largeWhiteBtn {
    font-size: 20px; }

  .centerImageSm {
    text-align: center; } }
body {
  font: 100% Arial, sans-serif;
  color: #010101; }

h1 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 600; }

h2 {
  font-size: 30px;
  margin-bottom: 20px; }

h3 {
  font-size: 26px;
  margin-bottom: 20px; }

h4 {
  font-size: 24px;
  margin-bottom: 20px; }

h5 {
  font-size: 22px;
  margin-bottom: 20px; }

h6 {
  font-size: 20px;
  margin-bottom: 20px; }

p {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px; }

b, strong {
  font-weight: 600; }

img {
  max-width: 100%;
  height: auto; }
  img.aligncenter {
    position: relative;
    display: block;
    margin: 0 auto; }

.alignleft {
  float: left;
  text-align: left; }

.aligncenter {
  float: none;
  text-align: center; }

.alignright {
  float: right;
  text-align: right; }

.mainBanner {
  width: 100%; }
  .mainBanner img {
    max-width: 100%;
    height: auto; }

.container {
  width: 1000px;
  padding: 30px 0; }
  .container.paddingtop100 {
    padding-top: 100px; }
  .container.paddingbottom100 {
    padding-bottom: 100px; }
  .container.paddingtop250 {
    padding-top: 250px; }
  .container.paddingbottom250 {
    padding-bottom: 250px; }
  .container .row {
    padding: 30px 0 30px 0; }
  .container .row.margin0 {
    margin: 0px; }
  .container .row.padding0 {
    padding: 0px; }
  .container .equalWidthButtons {
    padding: 30px 20px; }
    .container .equalWidthButtons .btn {
      width: 230px; }

.col.padding0 {
  padding: 0px; }
  .col.padding0 > div {
    padding: 0px; }
.col.margin0 {
  margin: 0px; }
  .col.margin0 > div {
    margin: 0px; }
.col.paddingTop50 {
  padding-top: 50px; }
.col.paddingBottom50 {
  padding-bottom: 50px; }
.col p:last-child {
  margin-bottom: 0px; }

.redWhiteBg {
  background: #E2231A;
  background: linear-gradient(to right, #E2231A 0%, #E2231A 50%, #ffffff 50%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.redWhiteBg .row > div:first-child * {
  color: #ffffff; }

.btn-primary {
  background-color: #E2231A;
  border-color: #E2231A; }

.btn {
  border-radius: 0px; }
  .btn span.sub_title {
    font-size: .7em;
    display: block; }

.redBg {
  background: #E2231A;
  padding: 60px 15px 9999px 9999px;
  margin: 0 -15px -9999px -9999px; }

.redBg * {
  color: #ffffff; }

.overflow-hidden {
  overflow: hidden; }

.container .mainHeadline {
  padding: 60px 0; }
  .container .mainHeadline .col:first-child {
    padding-right: 30px; }
    .container .mainHeadline .col:first-child p {
      font-style: italic;
      font-size: 25px; }
  .container .mainHeadline .col:last-child {
    padding-left: 30px; }
  .container .mainHeadline h1 {
    font-size: 27px; }

.largeWhiteBtn {
  color: #231F20;
  font-size: 50px;
  background-color: #FFFFFF;
  font-weight: 600;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); }

.paralaxBg {
  background-attachment: fixed;
  background-position: center center; }

a.blackBox {
  display: block; }
  a.blackBox:hover {
    text-decoration: none;
    color: #fff; }

.blackBox {
  background-color: #010101;
  transition: color 0.5s ease, background-color 0.5s ease;
  color: #ffffff;
  text-align: center;
  padding: 25px;
  position: relative; }
  .blackBox:hover {
    background: #E2231A;
    transition: color 0.5s ease, background-color 0.5s ease; }
    .blackBox:hover.arrowBottom:after {
      -webkit-animation-name: bounce;
      -moz-animation-name: bounce;
      -o-animation-name: bounce;
      animation-name: bounce;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -ms-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      animation-fill-mode: both;
      -webkit-animation-duration: 2s;
      -moz-animation-duration: 2s;
      -ms-animation-duration: 2s;
      -o-animation-duration: 2s;
      animation-duration: 2s; }
  .blackBox.arrowBottom {
    padding-bottom: 60px; }
  .blackBox.arrowBottom:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 20px;
    border-top: 20px solid #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -12px; }
  .blackBox.marginBottom25 {
    margin-bottom: 25px; }
  .blackBox.blackBoxSmall {
    padding-bottom: 40px; }
    .blackBox.blackBoxSmall p {
      font-size: 12px;
      line-height: 20px; }
      .blackBox.blackBoxSmall p:first-child {
        font-size: 18px; }
    .blackBox.blackBoxSmall.arrowBottom:after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      bottom: 15px;
      border-top: 15px solid #ffffff;
      position: absolute;
      margin-left: -12px; }
  .blackBox p {
    margin-bottom: 0px;
    font-size: 20px; }
    .blackBox p:first-child {
      font-size: 30px;
      line-height: 36px;
      font-weight: 600; }
  .blackBox a {
    color: #ffffff; }

.wpcf7-submit {
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px; }

#wpcf7-f126-p13-o1 {
  margin: 0px; }

#contactPageForm {
  width: 100%;
  display: block;
  height: 520px; }

.mapContent {
  width: 430px;
  float: right; }

.noParagraphMargin p {
  margin-bottom: 0px; }

#modal162 {
  padding: 0px; }
  #modal162 div.container {
    padding: 0px; }
    #modal162 div.container div.row {
      padding: 0px;
      margin: 0px; }

.phonenumber a {
  color: #ffffff; }

/*# sourceMappingURL=style.css.map */
