@import "mixins";

body {
  font: 100% $font-stack;
  color: $primary-font-color;
}

h1,h2,h3,h4,h5,h6{

}

p{
	
}

.container{
	width:1000px;
}


.btn-primary{
    background-color: $primary-color !important;
    border-color: $primary-color !important;
}
.btn{
	span.sub_title{
		font-size: .7em;
		display:block;
	}
}

.redBg{
	background: gray;
    padding: 0 15px 9999px 9999px;
    margin: 0 -15px -9999px -9999px;
}

.overflow-hidden{
	overflow:hidden;
}