@import "partials/_mixins";
@import "partials/_bootstrap-components";
@import "partials/_header";
@import "partials/_footer";

body {
  font: 100% $font-stack;
  color: $primary-font-color;
}

h1{
	font-size:30px;
	text-transform:uppercase;
	margin-bottom:40px;
	font-weight:600;
}

h2{
	font-size:30px;
	margin-bottom:20px;
}

h3{
	font-size:26px;
	margin-bottom:20px;
}

h4{
	font-size:24px;
	margin-bottom:20px;
}

h5{
	font-size:22px;
	margin-bottom:20px;
}

h6{
	font-size:20px;
	margin-bottom:20px;
}

p{
	font-size:20px;
	line-height:28px;
	margin-bottom:20px;
}

b, strong{
	font-weight: 600;
}

img{
	max-width: 100%;
	height: auto;
	&.aligncenter{
		position: relative;
	    display: block;
	    margin: 0 auto;
	}
}

ol{
	li{
		margin-bottom: 10px;
		line-height: 28px;
	}
}

ul{
	li{
		margin-bottom: 10px;
		line-height: 28px;	
	}
}

.alignleft{
	float: left;
	text-align: left;
}
.aligncenter{
	float: none;
	text-align: center;
}
.alignright{
	float: right;
	text-align: right;
}


.mainBanner{
	width: 100%;
	img{
		max-width: 100%;
		height: auto;
	}
}



.container{
	width:1000px;
    padding: 30px 0;

	&.paddingtop100{
		padding-top:100px;
	}
	&.paddingbottom100{
		padding-bottom:100px;
	}
	&.paddingtop250{
		padding-top:250px;
	}
	&.paddingbottom250{
		padding-bottom:250px;
	}

	.row{
		padding: 30px 0 30px 0;
	}

	.row.margin0{
		margin:0px;
	}

	.row.padding0{
		padding:0px;
	}

	.equalWidthButtons{
		padding:30px 20px;
		
		.btn{
			width:230px;
		}
	}
}

.col{
	&.padding0{
		padding:0px;
		> div{
			padding:0px;
		}
	}
	&.margin0{
		margin:0px;
		> div{
			margin:0px;
		}
	}
	&.paddingTop50{
		padding-top:50px;
	}
	&.paddingBottom50{
		padding-bottom:50px;
	}

	p{
		&:last-child{
			margin-bottom: 0px;
		}	
	}
}

.redWhiteBg{
	background: $primary-color;
	background: linear-gradient(to right, $primary-color 0%,$primary-color 50%,#ffffff 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.redWhiteBg .row > div:first-child *{
	color:#ffffff;
}

.btn-primary{
    background-color: $primary-color;
    border-color: $primary-color;
}
.btn{
	border-radius: 0px;
	span.sub_title{
		font-size: .7em;
		display:block;
	}
}

.redBg{
	background: $primary-color;
    padding: 60px 15px 9999px 9999px;
    margin: 0 -15px -9999px -9999px;
}

.redBg *{
	color:#ffffff;
}

.overflow-hidden{
	overflow:hidden;
}



.container{
	.mainHeadline{
		padding: 60px 0;

		.col{
			&:first-child{
				padding-right: 30px;
				p{
					font-style:italic;
					font-size:25px;
				}
			}
			&:last-child{
				padding-left: 30px;
			}
		}
		h1{
			font-size: 27px;
		}
	}
}


.largeWhiteBtn{
    color: #231F20;
    font-size:50px;
    background-color: #FFFFFF;
    font-weight:600;
    box-shadow:0px 5px 10px rgba(0,0,0,0.5);
}

.paralaxBg{
	background-attachment:fixed;
	background-position:center center;
}
.coverBg{
	background-size:cover;
}

a{
	&.blackBox{
		display: block;

		&:hover{
			text-decoration: none;
			color: #fff;
		}
	}
}
.blackBox{
	background-color: #010101;
	@include background-animate();

	color: #ffffff;
	text-align: center;
	padding: 25px;
	position: relative;

	&:hover{
		background: $primary-color;
		@include background-animate();

		&.arrowBottom:after{
			@include bounce();
			@include animated();
		}
	}

	&.arrowBottom{
		padding-bottom: 60px;
	}

	&.arrowBottom:after{
        content: '';
	    width: 0;
	    height: 0;
	    border-left: 15px solid transparent;
	    border-right: 15px solid transparent;
	    bottom: 20px;
	    border-top: 20px solid #ffffff;
	    position: absolute;
	    left: 50%;
	    margin-left: -12px;
	   
	}

	&.marginBottom25{
		margin-bottom: 25px;
	}

	&.blackBoxSmall{
		padding-bottom: 40px;

		p{
			font-size: 12px;
			line-height: 20px;
			&:first-child{
				font-size: 18px;
			}
		}

		&.arrowBottom:after{
	        border-left: 10px solid transparent;
		    border-right: 10px solid transparent;
		    bottom: 15px;
		    border-top: 15px solid #ffffff;
		    position: absolute;
		    margin-left: -12px;
		}
	}

	p{
		margin-bottom: 0px;
		font-size:20px;
		&:first-child{
			font-size:30px;
			line-height: 36px;
			font-weight: 600;
		}
	}
	
	a{
		color: #ffffff;
	}

}




.wpcf7-submit{
	width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
}

#wpcf7-f126-p13-o1{
	margin: 0px;
}

#contactPageForm{
	width: 100%;
	display: block;
	height: 520px;
}


.mapContent{
	width: 430px;
	float: right;
}

.noParagraphMargin{
	p{
		margin-bottom: 0px;
	}
}


#modal162{
	padding: 0px;
	div.container{
		padding: 0px;

		div.row{
			padding: 0px;
			margin: 0px;
		}
	}
}



.phonenumber{
	a{
		color: #ffffff;
	}
}








@media (max-width: 1100px){
	.container .row{
		margin-left: 0px;
		margin-right: 0px;
	}
}


// MD breakpoint 
@media (max-width: 768px){

	.container{
		&.paddingtop250{
			padding-top: 100px;
		}
		&.paddingbottom250{
			padding-bottom: 100px;
		}
		.row{
			&.equalWidthButtons{
				.col{
					margin: 10px 0;
					p{
						text-align: center !important;
					}
				}
			}
		}
	}



	.largeWhiteBtn{
		font-size: 30px;
	}


	footer{
		.col-md-8{
			text-align: center;
		}
		.col-md-4{
			margin-top: 40px;
			text-align: center;
		}

	}

}

// For Contact Page Page
@media (max-width: 1000px){
	.col{
		div{
			&.mapContent{
				width: inherit;
				margin: 0px;
			}
		}	
	}
	
}

// SM breakpoint  
@media (max-width: 576px){
	.container{
		width: 100%;
		.mainHeadline{
			.col{
				&:last-child{
					padding-left: 15px;
				}
				&:first-child{
					padding-right: 15px;
				}
			}
		}
		.row{
			.col{
				margin-top: 20px;
				&:first-child{
					margin-top: 0px;
				}
			}
		}
	}

	.redWhiteBg{
		background: $primary-color;
		.row{
			div{
				 *{
				 	color:#ffffff;
				 }	
			}

		}
	}


	.largeWhiteBtn{
		font-size: 20px;
	}

	.centerImageSm{
		text-align: center;
	}

}